name: Java Build
on:
  push:
    branches: [ "main" ] # Só roda na branch main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # <--- PASSO CHAVE: Baixa seu código do repositório
      - name: Configurar JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build com Maven
        run: mvn clean package -DskipTests